.h {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  font-weight: bold;
}

.fontp {
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #2e2f32;
  font-family: Arial, sans-serif;
}

.f {
  font-size: .875rem;
  margin-left: 0.25rem;
  font-weight: 700;
  font-family: Arial, sans-serif;
}

.buttonSub {
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 0 1.5rem;
  font-size: 1rem;
  height: 2.5rem;
  display: flex;
  width: 100%;

  background: #0071dc;
  color: #fff;
  font-weight: 700;
  align-items: center;
  border: 0;
  border-radius: 62.5rem;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
  justify-content: center;
  text-decoration: none;
  line-height: 1.15;
  margin: 0;
}

.para {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: #2e2f32;
  padding-left: .5rem;
  padding-right: .5rem;
  margin-left: .5rem;
  margin-bottom: .25rem;
  margin-top: .25rem;
}

.a {
  text-decoration: underline;

}

.foot {

      font-family: Bogle, Helvetica Neue, Helvetica, Arial, sans-serif;
        box-sizing: border-box;
        border-top-style: solid;
        border-top-width: 1px;
        border-color: #f1f1f2;
        display: flex;
        align-items: flex-start;
        margin-left: auto;
        margin-right: auto;
        max-width: 1280px;

  /* font-family: Bogle, Helvetica Neue, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  border-top-style: solid;
  border-top-width: 1px;
  border-color: #f1f1f2;
  display: flex;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px; */
}

li {
  display: inline-block;

}

.footbtn {
  color: rgb(70, 71, 74);
    margin-left: 0px;
    font-size: 0.875rem;
    text-align: center;
    text-decoration: none;
    margin-bottom: 1rem;
    padding: 0;
    background-color: initial;
    line-height: 1.5;
    font-family: 'Bogle', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: inline-block;
    border-style: none;
    border-width: 0;

}
.D{
  display: inline-block;
}
.list{
  list-style-type: none;
}
span{
  color: #46474a;
  text-align: inherit;

}
.tag{
  text-align: center;
}