@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Bogle';
  src: url('../src/assets/font/BOGLEBLACK.OTF') format('otf'),
       url('../src/assets/font/BOGLEBLACKITALIC.OTF') format('otf'),
       url('../src/assets/font/BOGLEBOLD.OTF') format('otf'),
       url('../src/assets/font/BOGLEBOLDITALIC.OTF') format('otf'),
       url('../src/assets/font/BOGLEITALIC.OTF') format('otf'),
       url('../src/assets/font/BOGLEREGULAR.OTF') format('otf');
}
* {
    /* font-family: 'Bogle', sans-serif; */
    font-weight: normal;
}